.h1, .h2, .h3, .p, .caption {
   
}

.h1 {
   font-weight: 900;
   font-size: 2em;
}

.h2 {
   font-weight: 700;
   font-size: 1.7em;
}

.h3 {
   font-weight: 600;
   font-size: 1.3em;
}

.p {
   font-weight: 400;
   font-size: 1.2em;
}

.caption {
   font-weight: 400;
   font-size: 1em;
}