.select-wrapper {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  margin: 0;
  border-radius: 0.5em;
  font-size: calc(9px + 0.45vw);
  background-color: rgba(0, 0, 0, 0.05);
}

.select-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

option:disabled {
  color: rgba(0, 0, 0, 0.08);
}
